@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #1B1A1A;
  --background-hero: #ECE7E4;
  --background-touch: #CEC4BC;
  --paragraph: #403E3B;
  --paragraph-secondary: #645C55;
  --font-poppins: #{poppins.style.fontFamily};
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Helvetica, sans-serif;
}
